<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Example</title>
    </head>
    <body>
        <!-- <img src="images/content/content/logoa.svg" alt="Logo of Athlon" class="logo" /> -->

        <h1>Gift store</h1>
        <header class="header">
            <div class="content header__content header-content">
                <div class="header-content__logo">
                    <img
                        src="images/content/logo.svg"
                        alt="Логотип приложения Gift store"
                    />
                </div>
                <nav class="header-content__nav">
                    <ul class="nav">
                        <li class="nav__item">
                            <a href="/" class="nav__link"> Главная </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link"> О нас </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link"> Наши сервисы </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link"> Блог </a>
                        </li>
                    </ul>
                </nav>
                <button class="header-content__btn">Поиск подарков</button>
            </div>
        </header>
        <main class="content">
            <section class="find-gift">
                <div class="content">
                    <div class="find-gift__content">
                        <h2>Найти подарок</h2>
                        <p class="find-gift__title">
                            Найдите
                            <br />
                            подарок жене
                            <br />
                            или девушке
                        </p>
                        <p class="find-gift__text">
                            Пытаетесь найти подарок жене или девушке? Нет
                            проблем!
                        </p>
                        <button>Найти сейчас</button>
                    </div>
                </div>
            </section>
            <section>
                <h2>Как мы работаем</h2>
                <p>
                    Мы&nbsp;уже опросили сотни женщин, чего они хотят,
                    и&nbsp;создали базу данных с&nbsp;результатами. Все, что вам
                    нужно сделать, это принять участие в&nbsp;нашем коротком
                    опросе, который займет всего несколько секунд, и&nbsp;наш
                    собственный алгоритм подберет для вас несколько идеальных
                    вариантов подарков.
                </p>
                <a href="#">Узнать больше</a>
            </section>
            <section>
                <h2>Подарки на все случаи жизни</h2>
                <p>
                    «Попробуйте наше веб-приложение, чтобы найти лучшие подарки
                    на все случаи жизни»
                </p>
                <ul class="card-list">
                    <li class="card-list__item card card--highlighted">
                        <img
                            class="card__image"
                            src="images/content/birthday.jpg"
                            alt="Воздушный шар и торт со свечками"
                        />
                        <h3 class="card__title">День рождения</h3>
                        <a href="#" class="card__link"> Подробнее </a>
                    </li>
                    <li class="card-list__item card">
                        <img
                            src="images/content/annivarsary.jpg"
                            alt="Туфли и букет цветов"
                        />
                        <h3>Юбилей</h3>
                        <a href="#">Подробнее</a>
                    </li>
                    <li class="card-list__item card">
                        <img
                            src="images/content/valentines.jpg"
                            alt="Бирки для подарков"
                        />
                        <h3>День Св. Валентина</h3>
                        <a href="#">Подробнее</a>
                    </li>
                    <li class="card-list__item card">
                        <img
                            src="images/content/christmas.jpg"
                            alt="Рождественская ель с подарками"
                        />
                        <h3>Рождество</h3>
                        <a href="#">Подробнее</a>
                    </li>
                </ul>
            </section>
            <section class="registration">
                <div class="registration__content">
                    <h2>Регистрация</h2>
                    <p>Готовы начать?</p>
                    <p>Зарегистрируйтесь или свяжитесь с нами</p>
                </div>
                <div class="registration__buttons">
                    <button>Найти сейчас</button>
                    <a href="#">Как это работает</a>
                </div>
            </section>
            <section>
                <h2>Лучшее из нашего блога</h2>
                <p>
                    «Заходи на наш блог, чтобы найти лучшие советы и
                    рекомендации по выбору подарка»
                </p>
                <ul>
                    <li>
                        <article>
                            <img
                                src="images/content/preview.jpg"
                                alt="Счастливая пара. Девушка качается на качелях."
                            />
                            <p>Mr. John Doe</p>
                            <h3>Лучший способ поздравить жену</h3>
                            <a href="#">Читать больше</a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <h3>База данных для поиска подарков для девушки</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore...
                            </p>
                            <a href="#">Читать больше</a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <h3>
                                Как ИИ читает ваши мысли, чтобы найти лучший
                                подарок
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore...
                            </p>
                            <a href="#">Читать больше</a>
                        </article>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <ul class="footer-navigation">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="#">О нас</a>
                </li>
                <li>
                    <img
                        src="images/content/logo.svg"
                        alt="Логотип Gift store"
                    />
                </li>
                <li>
                    <a href="#">Наши сервисы</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
            </ul>
            <ul class="socs">
                <li>
                    <a
                        class="socs__link"
                        href="#"
                        aria-label="gift finder на facebook"
                    >
                        <svg
                            width="40"
                            height="40"
                            viewBox="0 0 40 40"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M20 0.799927C9.39599 0.799927 0.799988 9.39593 0.799988 19.9999C0.799988 30.6039 9.39599 39.1999 20 39.1999C30.604 39.1999 39.2 30.6039 39.2 19.9999C39.2 9.39593 30.604 0.799927 20 0.799927ZM24.548 14.0679H21.662C21.32 14.0679 20.94 14.5179 20.94 15.1159V17.1999H24.55L24.004 20.1719H20.94V29.0939H17.534V20.1719H14.444V17.1999H17.534V15.4519C17.534 12.9439 19.274 10.9059 21.662 10.9059H24.548V14.0679Z"
                            ></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img
                            src="assets/images/twitter.svg"
                            alt="логотип twitter"
                        />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img
                            src="assets/images/insta.svg"
                            alt="логотип instagram"
                        />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img
                            src="assets/images/youtube.svg"
                            alt="логотип youtube"
                        />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img
                            src="assets/images/pinterest.svg"
                            alt="логотип pinterest"
                        />
                    </a>
                </li>
            </ul>
            <p>© 2010 — 2020</p>
            <a href="#">Privacy — Terms</a>
        </footer>
    </body>
</html>
